@charset "utf-8";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0px;
  background: black;
  min-height: 100vh;
  color: white;
  padding-top: 80px;
  font-family: "sicselifgothicre", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  max-width: 1200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
  background: skyblue;
  z-index: 1000;
}

.header-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;
}

header a {
  text-decoration: none;
}

#top {
  scroll-margin-top: 80px;
}

header h1 {
  font-size: 0;
}

header img {
  object-fit: cover;
  vertical-align: bottom;
}

h2 {
  color: #F30081;
  text-shadow: 1px 1px 0 white;
}

.hamburger-menu {
  display: none;
}

.nav-menu {
  margin-right: 24px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
}

.nav-list li.active a {
  pointer-events: none;
}

.nav-list a {
  color: inherit;
  text-decoration: none;
}

.hamburger-menu.active .hamburger-line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger-menu.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .hamburger-line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.nav-1 {
  color: #FF0000;
}

.nav-2 {
  color: #FF7700;
}

.nav-3 {
  color: #E9E100;
}

.nav-4 {
  color: #00FF11;
}

.nav-5 {
  color: #00E5FF;
}

.nav-6 {
  color: #006FFF;
}

.nav-6 span {
  margin-left: 16px;
  color: #7F55FF;
}

@media (max-width: 800px) {
  .hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    z-index: 1001;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px;
    border-radius: 8px;
    transition:
      transform 0.8s ease-in-out;
  }

  .hamburger-menu.active {
    transform: translateX(-220px);
  }

  .hamburger-line {
    width: 24px;
    height: 3px;
    background: #F30081;
    border-radius: 2px;
    transition:
      transform 0.6s ease,
      opacity 0.6s ease;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    margin-right: 0;
    z-index: 1000;
    background: black;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: column;
    gap: 0;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  margin-bottom: 64px;
}

.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.logo-image {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}

.logo-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

main {
  position: relative;
  min-height: 60vh;
  overflow: hidden;
}

main p {
  position: relative;
  z-index: 1;
}

.particles {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.particle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: radial-gradient(circle,
      var(--c1) 0%,
      var(--c2) 15%,
      var(--c3) 35%,
      var(--c4) 60%,
      rgba(0, 0, 0, 0) 100%);

  /* 色相をランダムに変える */
  filter: hue-rotate(calc(var(--hue) * 1deg));
  /* transform をまとめて適用 */
  transform: translate(0, 0) scale(1);

  animation:
    float 8s ease-in-out infinite,
    colorShift 12s ease-in-out infinite,
    scalePulse 10s ease-in-out infinite,
    fadeBlink var(--fade-speed) ease-in-out infinite;

}

/* ふわふわ動く（JSでランダム値を入れる） */
@keyframes float {
  0% {
    transform: translate(0, 0) scale(var(--scale, 1));
  }

  50% {
    transform: translate(var(--move-x), var(--move-y)) scale(var(--scale, 1));
  }

  100% {
    transform: translate(0, 0) scale(var(--scale, 1));
  }
}



/* 色がゆっくり変わる */
@keyframes colorShift {
  0% {
    filter: hue-rotate(calc(var(--hue) * 1deg));
  }

  50% {
    filter: hue-rotate(calc((var(--hue) + 120) * 1deg));
  }

  100% {
    filter: hue-rotate(calc(var(--hue) * 1deg));
  }
}

/* ゆっくり拡大縮小 */
@keyframes scalePulse {
  0% {
    --scale: 1;
  }

  50% {
    --scale: 1.2;
  }

  100% {
    --scale: 1;
  }
}

/* フェードイン・フェードアウト */
@keyframes fadeBlink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.greeting {
  position: relative;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto 64px auto;
}

.greeting-image {
  width: 100%;
  height: auto;
  display: block;
}

.greeting h4 {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(22px, 2.2vw, 36px);
  font-weight: normal;
}

.greet {
  position: absolute;
  top: 5%;
  left: 3%;
}

.greet-image {
  width: clamp(90px, 12vw, 160px);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

.profile-R {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  position: absolute;
  bottom: 196px;
  right: 32px;
}

.profile-L {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  position: absolute;
  bottom: 60px;
  right: 94px;
}

.greet p {
  text-align: center;
}

.greet-content {
  text-align: center;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  width: 52%;
  line-height: 2.5;
  font-size: clamp(14px, 1.4vw, 20px);
  font-weight: normal;
  letter-spacing: 1px;
}

.profile {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile img {
  display: block;
  position: absolute;
  width: 22%;
  max-width: 295px;
  height: auto;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 800px) {

  .greeting h4,
  .greeting p {
    text-align: center;
  }

  .greet-image {
    text-align: center;
  }

  .greet-contents {
    width: 70%;
    margin: 0 auto;
  }
}

.suiso {
  position: relative;
  width: 96%;
  margin: 0 auto 64px auto;
  max-width: 1200px;
}

.suiso-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.suiso-content {
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 60px;
  left: 20%;
  text-shadow: 2px 2px 0 black;
}

.suiso h3 {
  color: #A6FFF8;
  text-shadow: 1px 1px 0 #0033FF;
  font-size: clamp(22px, 2.2vw, 36px);
  font-weight: normal;
}

.suiso p {
  color: #BDF8FF;
  text-shadow: 1px 1px 0 #0033FF;
  font-size: clamp(22px, 2.2vw, 32px);
  font-weight: normal;
  margin-top: -24px;
}

.suiso1 {
  width: 20%;
  max-width: 277px;
  height: auto;
  left: 6%;
  bottom: 17%;
  position: absolute;
}

.suiso2 {
  width: 19%;
  max-width: 265px;
  height: auto;
  right: 6%;
  bottom: 17%;
  position: absolute;
}

.suiso-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  width: 22%;
  max-width: 295px;
  height: auto;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}

.koseisinrigaku {
  position: relative;
  width: 96%;
  margin: 0 auto 64px auto;
  max-width: 1200px;
}

.koseisinrigaku-image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}

.koseisinrigaku h3 {
  color: white;
  text-shadow: 4px 4px 8px black;
  font-weight: normal;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(22px, 2.2vw, 60px);
}

.koseisinrigaku p {
  letter-spacing: 2px;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(22px, 2.2vw, 8px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eightTips {
  max-width: 1200px;
  width: 96%;
  padding-bottom: 64px;
  margin-bottom: 64px;
}

.eightTips h3 {
  margin: 0 0 -76px 0;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

.tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.tip {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -120px;
  flex: 0 0 24%;
}

.tip img {
  width: 140%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.tip p {
  text-align: center;
  color: black;
  text-shadow: 1px 1px 0 white;
  font-size: 24px;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

@media (max-width: 800px) {
  .tip {
    width: 50%;
  }
}

.events {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  background: skyblue;
  z-index: 2;
  padding: 24px 0;
}

.event {
  width: 50%;
  text-align: center;
}

.latest {
  width: 50%;
  text-align: center;
}

@media (max-width: 800px) {
  .events {
    flex-direction: column;
  }

  .event {
    width: 100%;
    padding-bottom: 24px;
  }

  .latest {
    width: 100%;
  }
}

.book {
  max-width: 1200px;
  position: relative;
  width: 96%;
  margin: 0 auto 64px auto;
  padding: 24px 0;
}

.book-background {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}

.book h4 {
  position: absolute;
  top: 2%;
  left: 46%;
  text-align: center;
  font-size: clamp(22px, 2.2vw, 40px);
  font-weight: normal;
  letter-spacing: 2px;
}

.book-section {
  display: flex;
  flex-direction: row;
}

.book-images {
  width: 50%;
  height: auto;
  position: absolute;
  top: 18%;
  left: 8%;
}

.book-contents {
  width: 50%;
  text-align: center;
  z-index: 3;
}

.book-content {
  width: 80%;
}

.book-content p {
  position: absolute;
  top: 24%;
  right: 24%;
  font-size: clamp(22px, 2.2vw, 24px);
}

.purchase {
  position: absolute;
  bottom: 18%;
  right: 24%;
  font-size: clamp(22px, 2.2vw, 24px);
  letter-spacing: 2px;
  padding: 4px;
  background: none;
  color: white;
  border: 1px solid white;
}

@media (max-width: 800px) {
  .book h4 {
    text-align: center;
  }

  .book-section {
    flex-direction: column;
  }

  .book-images {
    width: 100%;
    text-align: center;
  }

  .book-contents {
    width: 100%;
  }

  .book-content {
    margin: 0 auto;
  }
}

footer {
  max-width: 1200px;
  background: black;
  padding: 32px 0 64px 0;
}

.copyright-image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  /* z-index: 2; */
}

.copyright-content {
  position: relative;
  top: -160px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 2px;
  /* z-index: 2; */
}

.icon-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin-top: -175px;
}

.sns-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy {
  width: 96%;
  text-align: center;
}

footer a {
  display: block;
  text-decoration: none;
  color: white;
}

small {
  display: block;
  color: white;
}

/*first-page*/
.first-greet {
  padding: 24px 0;
  width: 96%;
  text-align: center;
  padding-top: 80px;
}

.first-greet h2 {
  color: #F30081;
  text-shadow: 0.6px 0 white;
  font-weight: 500;
  margin: 0 0 2px 0;
}

.name {
  display: inline-block;
  color: white;
  text-shadow: 1px 0 black;
  background: #F30081;
  padding: 4px 8px;
  border-radius: 12px;
}

.title-1 {
  font-size: 22px;
}

.title-2 {
  font-size: 32px;
}

.mirror {
  display: flex;
  flex-direction: row;
}

.left-mirror {
  width: 50%;
}

.right-mirror {
  width: 50%;
}

.with-pegasus {
  text-align: center;
}

.with-pegasus h2 {
  color: #F30081;
  text-shadow: 0.6px 0 white;
  font-weight: 500;
  margin: 0 0 2px 0;
  font-size: 32px;
}

.with-pegasus .title-3 {
  color: white;
  text-shadow: 0.6px 0 black;
  font-weight: 500;
  margin: 0 0 2px 0;
  font-size: 32px;
}

.with-pegasus .title-4 {
  color: #00E5FF;
  text-shadow: 0.6px 0 black;
  font-weight: 500;
  margin: 0 0 2px 0;
  font-size: 32px;
}

/*contact-page*/
.contact-form {
  padding-top: 80px;
}

.contact {
  background-color: rgba(245, 240, 255, 0.35);
  z-index: 1002;
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  text-align: center;
}

.contact-form h2 {
  display: inline-block;
  color: black;
  text-shadow: 0.5px 0 white;
  background: rgba(245, 240, 255, 0.1);
  margin: 8px;
}

.form-row {
  display: flex;
  gap: 32px;
}

.form-group {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 24px 24px;
}

.field {
  width: 100%;
  max-width: 400px;
}

.field input {
  width: 100%;
}

.form-row .form-group {
  flex: 1;
  width: 50%;
}

.label-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

label {
  color: black;
  text-shadow: 0.5px 0 white;
  font-weight: 500;
  margin-bottom: 8px;
}

.required {
  margin: 0;
  padding: 2px 4px 3px;
  line-height: 1;
  color: white;
  background: #F30081;
  position: relative;
  top: -4px;
}

input,
textarea,
select {
  width: 100%;
  height: 40px;
}

.decision-button {
  text-align: center;
}

.decision {
  appearance: none;
  -webkit-appearance: none;

  border: none;
  outline: none;

  background: #F30081;
  color: white;
  text-shadow: black 2px 0;

  border-radius: 8px;
  padding: 0px 80px;
  cursor: pointer;
  margin: 28px;
}